extends layout

block content
  h1 Web Crawler
  p To crawl a website, please enter a url below and click 'crawl'.
  p Please note this can take a long time to complete indexing (60 seconds for http://www.nexus.org.uk/) so please be patient as all pages are indexed.
  br
  input(type='text', name='baseUrl', id='baseUrl', value='http://www.thebeachguide.co.uk/north-east-england', readonly)
  input(type='submit', value='Crawl', id='submit')
  br
  br
  #content
  .modal(style='display: none')
      .center
          img(alt='', src='images/squares.gif')

