doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.json-view.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/javascripts/jquery.json-view.js')
    script(src='/javascripts/index.js')
